*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#UnderConstruction {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  max-width: 1280px;
  padding: 2rem 0;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 48px;
}

#underConstruction .imageContainer  .img {
  width: 200px;
}